body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex($value) {
    display: flex;
    justify-content: $value;
}

main {
    @include flex(center);
    flex-direction: column;
    align-items: center;
    border: solid 1px purple;
    height: 100vh;
    padding: 2rem;
    article {
        // @include flex(space-between);
        height: 60vh;
    }
    button {
        align-items: flex-end;
        width: 30vw;
    }
}

.jokeText {
    color: teal;
    font-size: 2rem;
    font-weight: bolder;
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-shadow: rgba(5, 44, 44, 0.966) 0.05rem 0.08rem 0.09rem;
    line-height: 1.4;
    padding: 0 3rem;
}

.d-btn {
    padding: 1.3rem 1.5rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    background-color: rgb(223, 169, 71);
    border: 0.2rem rgba(83, 60, 17, 0.904);
    box-shadow: rgba(128, 92, 25, 0.863) 0.1rem 0.2rem 0.3rem;
    font-weight: bold;
    font-family: helvetica;
    letter-spacing: 0.02rem;
    color: white;
    text-shadow: rgba(5, 44, 44, 0.966) 0.05rem 0.08rem 0.09rem;
    border-radius: 10px;
}